<footer id="default-footer">
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Antigua and Barbuda Transport Board</h3>
            <p>{{ site.description }}</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="ion-ios-arrow-right"></i>
                <a href="#">Home</a>
              </li>
              <li>
                <i class="ion-ios-arrow-right"></i>
                <a href="#">About us</a>
              </li>
              <li>
                <i class="ion-ios-arrow-right"></i>
                <a href="#">Services</a>
              </li>
              <li>
                <i class="ion-ios-arrow-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="ion-ios-arrow-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              
              {{ site.address }}
              <br>
              <strong>Phone:</strong> {{ site.phone }}
              <br>
              <strong>Fax:</strong> {{ site.fax }}
              <br>
              <strong>Email:</strong> {{ site.email }}
              <br>
            </p>

            {% include social-media-icons.html %}

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Get public updates and informationals as soon as they're realised.</p>
            <form action="" method="post">
              <input type="email" name="email">
              <input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright
        <strong>Cyber Hawk Inc</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by
        <a href="https://tiny.cc/cyberhawkinc/">Ecanic @ CyberHawk Inc.</a>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</footer>