<!--==========================
      Services Section
    ============================-->
<section id="services">
  <div class="container">

    <header class="section-header wow fadeInUp">
      <h3>Services</h3>
      <p>Informationals, services provided at our locations and tips</p>
    </header>

    <div class="row">
      {% for block in site.services-blocks %}

      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon">
          <i class="{{ block.icon }}"></i>
        </div>
        <h4 class="title">
          <a href="{{ block.url }}">{{ block.title }}</a>
        </h4>
        <div class="description">
          <p class="mb-2">{{ block.content | markdownify }}</p>
          <p>
            <a class="text-primary" href="{{ block.url }}">Learn more</a>
          </p>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>
<!-- #services -->